.icon-32 { height:32px; width:32px}
.icon-24 { height:24px; width:24px}

.asp-excel { background-image: url(ico/excel.png) !important; background-repeat: no-repeat; }
.asp-pdf { background-image: url(ico/pdf.gif) !important; background-repeat: no-repeat; }

.asp-access { background-image: url(ico/access.gif) !important; background-repeat: no-repeat; }
.asp-access_add { background-image: url(ico/access_add.gif) !important; background-repeat: no-repeat; }
.asp-access_delete { background-image: url(ico/access_delete.gif) !important; background-repeat: no-repeat; }
.asp-access_edit { background-image: url(ico/access_edit.gif) !important; background-repeat: no-repeat; }
.asp-add { background-image: url(ico/add.gif) !important; background-repeat: no-repeat; }
.asp-administrator1 { background-image: url(ico/administrator1.gif) !important; background-repeat: no-repeat; }
.asp-administrator1_add { background-image: url(ico/administrator1_add.gif) !important; background-repeat: no-repeat; }
.asp-administrator1_delete { background-image: url(ico/administrator1_delete.gif) !important; background-repeat: no-repeat; }
.asp-administrator1_edit { background-image: url(ico/administrator1_edit.gif) !important; background-repeat: no-repeat; }
.asp-administrator2 { background-image: url(ico/administrator2.gif) !important; background-repeat: no-repeat; }
.asp-administrator2_add { background-image: url(ico/administrator2_add.gif) !important; background-repeat: no-repeat; }
.asp-administrator2_delete { background-image: url(ico/administrator2_delete.gif) !important; background-repeat: no-repeat; }
.asp-administrator2_edit { background-image: url(ico/administrator2_edit.gif) !important; background-repeat: no-repeat; }
.asp-administrator3 { background-image: url(ico/administrator3.gif) !important; background-repeat: no-repeat; }
.asp-administrator3_add { background-image: url(ico/administrator3_add.gif) !important; background-repeat: no-repeat; }
.asp-administrator3_delete { background-image: url(ico/administrator3_delete.gif) !important; background-repeat: no-repeat; }
.asp-administrator3_edit { background-image: url(ico/administrator3_edit.gif) !important; background-repeat: no-repeat; }
.asp-anchor { background-image: url(ico/anchor.gif) !important; background-repeat: no-repeat; }
.asp-anchor_add { background-image: url(ico/anchor_add.gif) !important; background-repeat: no-repeat; }
.asp-anchor_delete { background-image: url(ico/anchor_delete.gif) !important; background-repeat: no-repeat; }
.asp-anchor_edit { background-image: url(ico/anchor_edit.gif) !important; background-repeat: no-repeat; }
.asp-anonymous { background-image: url(ico/anonymous.gif) !important; background-repeat: no-repeat; }
.asp-anonymous_add { background-image: url(ico/anonymous_add.gif) !important; background-repeat: no-repeat; }
.asp-anonymous_delete { background-image: url(ico/anonymous_delete.gif) !important; background-repeat: no-repeat; }
.asp-anonymous_edit { background-image: url(ico/anonymous_edit.gif) !important; background-repeat: no-repeat; }
.asp-application { background-image: url(ico/application.gif) !important; background-repeat: no-repeat; }
.asp-application_add { background-image: url(ico/application_add.gif) !important; background-repeat: no-repeat; }
.asp-application_delete { background-image: url(ico/application_delete.gif) !important; background-repeat: no-repeat; }
.asp-attention1 { background-image: url(ico/attention1.gif) !important; background-repeat: no-repeat; }
.asp-attention2 { background-image: url(ico/attention2.gif) !important; background-repeat: no-repeat; }
.asp-attention3 { background-image: url(ico/attention3.gif) !important; background-repeat: no-repeat; }
.asp-backup { background-image: url(ico/backup.gif) !important; background-repeat: no-repeat; }
.asp-backup_add { background-image: url(ico/backup_add.gif) !important; background-repeat: no-repeat; }
.asp-backup_delete { background-image: url(ico/backup_delete.gif) !important; background-repeat: no-repeat; }
.asp-backup_edit { background-image: url(ico/backup_edit.gif) !important; background-repeat: no-repeat; }
.asp-backup_start { background-image: url(ico/backup_start.gif) !important; background-repeat: no-repeat; }
.asp-backup_stop { background-image: url(ico/backup_stop.gif) !important; background-repeat: no-repeat; }
.asp-bold { background-image: url(ico/bold.gif) !important; background-repeat: no-repeat; }
.asp-business { background-image: url(ico/business.gif) !important; background-repeat: no-repeat; }
.asp-business_add { background-image: url(ico/business_add.gif) !important; background-repeat: no-repeat; }
.asp-business_delete { background-image: url(ico/business_delete.gif) !important; background-repeat: no-repeat; }
.asp-business_edit { background-image: url(ico/business_edit.gif) !important; background-repeat: no-repeat; }
.asp-calculate { background-image: url(ico/calculate.gif) !important; background-repeat: no-repeat; }
.asp-check-in { background-image: url(ico/check-in.gif) !important; background-repeat: no-repeat; }
.asp-check-out { background-image: url(ico/check-out.gif) !important; background-repeat: no-repeat; }
.asp-color1 { background-image: url(ico/color1.gif) !important; background-repeat: no-repeat; }
.asp-color2 { background-image: url(ico/color2.gif) !important; background-repeat: no-repeat; }
.asp-color3 { background-image: url(ico/color3.gif) !important; background-repeat: no-repeat; }
.asp-comment1 { background-image: url(ico/comment1.gif) !important; background-repeat: no-repeat; }
.asp-comment1_add { background-image: url(ico/comment1_add.gif) !important; background-repeat: no-repeat; }
.asp-comment1_delete { background-image: url(ico/comment1_delete.gif) !important; background-repeat: no-repeat; }
.asp-comment1_edit { background-image: url(ico/comment1_edit.gif) !important; background-repeat: no-repeat; }
.asp-comment2 { background-image: url(ico/comment2.gif) !important; background-repeat: no-repeat; }
.asp-comment2_add { background-image: url(ico/comment2_add.gif) !important; background-repeat: no-repeat; }
.asp-comment2_delete { background-image: url(ico/comment2_delete.gif) !important; background-repeat: no-repeat; }
.asp-comment2_edit { background-image: url(ico/comment2_edit.gif) !important; background-repeat: no-repeat; }
.asp-comment3 { background-image: url(ico/comment3.gif) !important; background-repeat: no-repeat; }
.asp-comment3_add { background-image: url(ico/comment3_add.gif) !important; background-repeat: no-repeat; }
.asp-comment3_delete { background-image: url(ico/comment3_delete.gif) !important; background-repeat: no-repeat; }
.asp-comment3_edit { background-image: url(ico/comment3_edit.gif) !important; background-repeat: no-repeat; }
.asp-computer1 { background-image: url(ico/computer1.gif) !important; background-repeat: no-repeat; }
.asp-computer1_add { background-image: url(ico/computer1_add.gif) !important; background-repeat: no-repeat; }
.asp-computer1_delete { background-image: url(ico/computer1_delete.gif) !important; background-repeat: no-repeat; }
.asp-computer1_edit { background-image: url(ico/computer1_edit.gif) !important; background-repeat: no-repeat; }
.asp-computer1_start { background-image: url(ico/computer1_start.gif) !important; background-repeat: no-repeat; }
.asp-computer1_stop { background-image: url(ico/computer1_stop.gif) !important; background-repeat: no-repeat; }
.asp-computer2 { background-image: url(ico/computer2.gif) !important; background-repeat: no-repeat; }
.asp-computer2_add { background-image: url(ico/computer2_add.gif) !important; background-repeat: no-repeat; }
.asp-computer2_delete { background-image: url(ico/computer2_delete.gif) !important; background-repeat: no-repeat; }
.asp-computer2_edit { background-image: url(ico/computer2_edit.gif) !important; background-repeat: no-repeat; }
.asp-computer2_start { background-image: url(ico/computer2_start.gif) !important; background-repeat: no-repeat; }
.asp-computer2_stop { background-image: url(ico/computer2_stop.gif) !important; background-repeat: no-repeat; }
.asp-connect1 { background-image: url(ico/connect1.gif) !important; background-repeat: no-repeat; }
.asp-connect2 { background-image: url(ico/connect2.gif) !important; background-repeat: no-repeat; }
.asp-connect3 { background-image: url(ico/connect3.gif) !important; background-repeat: no-repeat; }
.asp-connect3_delete { background-image: url(ico/connect3_delete.gif) !important; background-repeat: no-repeat; }
.asp-contact { background-image: url(ico/contact.gif) !important; background-repeat: no-repeat; }
.asp-contact_add { background-image: url(ico/contact_add.gif) !important; background-repeat: no-repeat; }
.asp-contact_delete { background-image: url(ico/contact_delete.gif) !important; background-repeat: no-repeat; }
.asp-contact_edit { background-image: url(ico/contact_edit.gif) !important; background-repeat: no-repeat; }
.asp-copy { background-image: url(ico/copy.gif) !important; background-repeat: no-repeat; }
.asp-cut { background-image: url(ico/cut.gif) !important; background-repeat: no-repeat; }
.asp-data { background-image: url(ico/data.gif) !important; background-repeat: no-repeat; }
.asp-data_add { background-image: url(ico/data_add.gif) !important; background-repeat: no-repeat; }
.asp-data_delete { background-image: url(ico/data_delete.gif) !important; background-repeat: no-repeat; }
.asp-data_edit { background-image: url(ico/data_edit.gif) !important; background-repeat: no-repeat; }
.asp-data_play { background-image: url(ico/data_play.gif) !important; background-repeat: no-repeat; }
.asp-data_stop { background-image: url(ico/data_stop.gif) !important; background-repeat: no-repeat; }
.asp-database { background-image: url(ico/database.gif) !important; background-repeat: no-repeat; }
.asp-database_add { background-image: url(ico/database_add.gif) !important; background-repeat: no-repeat; }
.asp-database_delete { background-image: url(ico/database_delete.gif) !important; background-repeat: no-repeat; }
.asp-database_edit { background-image: url(ico/database_edit.gif) !important; background-repeat: no-repeat; }
.asp-database_export { background-image: url(ico/database_export.gif) !important; background-repeat: no-repeat; }
.asp-database_field { background-image: url(ico/database_field.gif) !important; background-repeat: no-repeat; }
.asp-database_field_add { background-image: url(ico/database_field_add.gif) !important; background-repeat: no-repeat; }
.asp-database_field_delete { background-image: url(ico/database_field_delete.gif) !important; background-repeat: no-repeat; }
.asp-database_field_edit { background-image: url(ico/database_field_edit.gif) !important; background-repeat: no-repeat; }
.asp-database_form { background-image: url(ico/database_form.gif) !important; background-repeat: no-repeat; }
.asp-database_form_add { background-image: url(ico/database_form_add.gif) !important; background-repeat: no-repeat; }
.asp-database_form_delete { background-image: url(ico/database_form_delete.gif) !important; background-repeat: no-repeat; }
.asp-database_form_edit { background-image: url(ico/database_form_edit.gif) !important; background-repeat: no-repeat; }
.asp-database_import { background-image: url(ico/database_import.gif) !important; background-repeat: no-repeat; }
.asp-database_start { background-image: url(ico/database_start.gif) !important; background-repeat: no-repeat; }
.asp-database_stop { background-image: url(ico/database_stop.gif) !important; background-repeat: no-repeat; }
.asp-database_table { background-image: url(ico/database_table.gif) !important; background-repeat: no-repeat; }
.asp-database_table_add { background-image: url(ico/database_table_add.gif) !important; background-repeat: no-repeat; }
.asp-database_table_delete { background-image: url(ico/database_table_delete.gif) !important; background-repeat: no-repeat; }
.asp-database_table_edit { background-image: url(ico/database_table_edit.gif) !important; background-repeat: no-repeat; }
.asp-date { background-image: url(ico/date.gif) !important; background-repeat: no-repeat; }
.asp-delete { background-image: url(ico/delete.gif) !important; background-repeat: no-repeat; }
.asp-disconnect1 { background-image: url(ico/disconnect1.gif) !important; background-repeat: no-repeat; }
.asp-disconnect2 { background-image: url(ico/disconnect2.gif) !important; background-repeat: no-repeat; }
.asp-down { background-image: url(ico/down.gif) !important; background-repeat: no-repeat; }
.asp-edit { background-image: url(ico/edit.gif) !important; background-repeat: no-repeat; }
.asp-eject { background-image: url(ico/eject.gif) !important; background-repeat: no-repeat; }
.asp-error { background-image: url(ico/error.gif) !important; background-repeat: no-repeat; }
.asp-fast_forward { background-image: url(ico/fast_forward.gif) !important; background-repeat: no-repeat; }
.asp-file { background-image: url(ico/file.gif) !important; background-repeat: no-repeat; }
.asp-file_add { background-image: url(ico/file_add.gif) !important; background-repeat: no-repeat; }
.asp-file_delete { background-image: url(ico/file_delete.gif) !important; background-repeat: no-repeat; }
.asp-file_edit { background-image: url(ico/file_edit.gif) !important; background-repeat: no-repeat; }
.asp-file_manager { background-image: url(ico/file_manager.gif) !important; background-repeat: no-repeat; }
.asp-file_manager_add { background-image: url(ico/file_manager_add.gif) !important; background-repeat: no-repeat; }
.asp-file_manager_delete { background-image: url(ico/file_manager_delete.gif) !important; background-repeat: no-repeat; }
.asp-filter { background-image: url(ico/filter.gif) !important; background-repeat: no-repeat; }
.asp-filter_add { background-image: url(ico/filter_add.gif) !important; background-repeat: no-repeat; }
.asp-filter_delete { background-image: url(ico/filter_delete.gif) !important; background-repeat: no-repeat; }
.asp-filter_edit { background-image: url(ico/filter_edit.gif) !important; background-repeat: no-repeat; }
.asp-finances { background-image: url(ico/finances.gif) !important; background-repeat: no-repeat; }
.asp-finances_add { background-image: url(ico/finances_add.gif) !important; background-repeat: no-repeat; }
.asp-finances_delete { background-image: url(ico/finances_delete.gif) !important; background-repeat: no-repeat; }
.asp-finances_edit { background-image: url(ico/finances_edit.gif) !important; background-repeat: no-repeat; }
.asp-first { background-image: url(ico/first.gif) !important; background-repeat: no-repeat; }
.asp-flag1 { background-image: url(ico/flag1.gif) !important; background-repeat: no-repeat; }
.asp-flag1_add { background-image: url(ico/flag1_add.gif) !important; background-repeat: no-repeat; }
.asp-flag1_delete { background-image: url(ico/flag1_delete.gif) !important; background-repeat: no-repeat; }
.asp-flag1_edit { background-image: url(ico/flag1_edit.gif) !important; background-repeat: no-repeat; }
.asp-flag2 { background-image: url(ico/flag2.gif) !important; background-repeat: no-repeat; }
.asp-flag2_add { background-image: url(ico/flag2_add.gif) !important; background-repeat: no-repeat; }
.asp-flag2_delete { background-image: url(ico/flag2_delete.gif) !important; background-repeat: no-repeat; }
.asp-flag2_edit { background-image: url(ico/flag2_edit.gif) !important; background-repeat: no-repeat; }
.asp-flag3 { background-image: url(ico/flag3.gif) !important; background-repeat: no-repeat; }
.asp-flag3_add { background-image: url(ico/flag3_add.gif) !important; background-repeat: no-repeat; }
.asp-flag3_delete { background-image: url(ico/flag3_delete.gif) !important; background-repeat: no-repeat; }
.asp-flag3_edit { background-image: url(ico/flag3_edit.gif) !important; background-repeat: no-repeat; }
.asp-flag4 { background-image: url(ico/flag4.gif) !important; background-repeat: no-repeat; }
.asp-flag4_add { background-image: url(ico/flag4_add.gif) !important; background-repeat: no-repeat; }
.asp-flag4_delete { background-image: url(ico/flag4_delete.gif) !important; background-repeat: no-repeat; }
.asp-flag4_edit { background-image: url(ico/flag4_edit.gif) !important; background-repeat: no-repeat; }
.asp-folder_add { background-image: url(ico/folder_add.gif) !important; background-repeat: no-repeat; }
.asp-folder_close_edit { background-image: url(ico/folder_close_edit.gif) !important; background-repeat: no-repeat; }
.asp-folder_closed { background-image: url(ico/folder_closed.gif) !important; background-repeat: no-repeat; }
.asp-folder_delete { background-image: url(ico/folder_delete.gif) !important; background-repeat: no-repeat; }
.asp-folder_open { background-image: url(ico/folder_open.gif) !important; background-repeat: no-repeat; }
.asp-format1 { background-image: url(ico/format1.gif) !important; background-repeat: no-repeat; }
.asp-fromat2 { background-image: url(ico/fromat2.gif) !important; background-repeat: no-repeat; }
.asp-graph1 { background-image: url(ico/graph1.gif) !important; background-repeat: no-repeat; }
.asp-graph2 { background-image: url(ico/graph2.gif) !important; background-repeat: no-repeat; }
.asp-help { background-image: url(ico/help.gif) !important; background-repeat: no-repeat; }
.asp-home { background-image: url(ico/home.gif) !important; background-repeat: no-repeat; }
.asp-image { background-image: url(ico/image.gif) !important; background-repeat: no-repeat; }
.asp-image_add { background-image: url(ico/image_add.gif) !important; background-repeat: no-repeat; }
.asp-image_delete { background-image: url(ico/image_delete.gif) !important; background-repeat: no-repeat; }
.asp-image_edit { background-image: url(ico/image_edit.gif) !important; background-repeat: no-repeat; }
.asp-information { background-image: url(ico/information.gif) !important; background-repeat: no-repeat; }
.asp-italic { background-image: url(ico/italic.gif) !important; background-repeat: no-repeat; }
.asp-label { background-image: url(ico/label.gif) !important; background-repeat: no-repeat; }
.asp-label_add { background-image: url(ico/label_add.gif) !important; background-repeat: no-repeat; }
.asp-label_delete { background-image: url(ico/label_delete.gif) !important; background-repeat: no-repeat; }
.asp-label_edit { background-image: url(ico/label_edit.gif) !important; background-repeat: no-repeat; }
.asp-last { background-image: url(ico/last.gif) !important; background-repeat: no-repeat; }
.asp-law { background-image: url(ico/law.gif) !important; background-repeat: no-repeat; }
.asp-law_add { background-image: url(ico/law_add.gif) !important; background-repeat: no-repeat; }
.asp-law_delete { background-image: url(ico/law_delete.gif) !important; background-repeat: no-repeat; }
.asp-law_edit { background-image: url(ico/law_edit.gif) !important; background-repeat: no-repeat; }
.asp-left { background-image: url(ico/left.gif) !important; background-repeat: no-repeat; }
.asp-level_down { background-image: url(ico/level_down.gif) !important; background-repeat: no-repeat; }
.asp-level_up { background-image: url(ico/level_up.gif) !important; background-repeat: no-repeat; }
.asp-link { background-image: url(ico/link.gif) !important; background-repeat: no-repeat; }
.asp-link_add { background-image: url(ico/link_add.gif) !important; background-repeat: no-repeat; }
.asp-link_delete { background-image: url(ico/link_delete.gif) !important; background-repeat: no-repeat; }
.asp-link_edit { background-image: url(ico/link_edit.gif) !important; background-repeat: no-repeat; }
.asp-lock { background-image: url(ico/lock.gif) !important; background-repeat: no-repeat; }
.asp-mail1 { background-image: url(ico/mail1.gif) !important; background-repeat: no-repeat; }
.asp-mail1_add { background-image: url(ico/mail1_add.gif) !important; background-repeat: no-repeat; }
.asp-mail1_delete { background-image: url(ico/mail1_delete.gif) !important; background-repeat: no-repeat; }
.asp-mail1_edit { background-image: url(ico/mail1_edit.gif) !important; background-repeat: no-repeat; }
.asp-mail2 { background-image: url(ico/mail2.gif) !important; background-repeat: no-repeat; }
.asp-mail2_add { background-image: url(ico/mail2_add.gif) !important; background-repeat: no-repeat; }
.asp-mail2_delete { background-image: url(ico/mail2_delete.gif) !important; background-repeat: no-repeat; }
.asp-mail2_edit { background-image: url(ico/mail2_edit.gif) !important; background-repeat: no-repeat; }
.asp-measurement1 { background-image: url(ico/measurement1.gif) !important; background-repeat: no-repeat; }
.asp-measurement2 { background-image: url(ico/measurement2.gif) !important; background-repeat: no-repeat; }
.asp-move { background-image: url(ico/move.gif) !important; background-repeat: no-repeat; }
.asp-music { background-image: url(ico/music.gif) !important; background-repeat: no-repeat; }
.asp-music_add { background-image: url(ico/music_add.gif) !important; background-repeat: no-repeat; }
.asp-music_delete { background-image: url(ico/music_delete.gif) !important; background-repeat: no-repeat; }
.asp-music_edit { background-image: url(ico/music_edit.gif) !important; background-repeat: no-repeat; }
.asp-music_stop { background-image: url(ico/music_stop.gif) !important; background-repeat: no-repeat; }
.asp-notepad { background-image: url(ico/notepad.gif) !important; background-repeat: no-repeat; }
.asp-notepad_add { background-image: url(ico/notepad_add.gif) !important; background-repeat: no-repeat; }
.asp-notepad_delete { background-image: url(ico/notepad_delete.gif) !important; background-repeat: no-repeat; }
.asp-notepad_edit { background-image: url(ico/notepad_edit.gif) !important; background-repeat: no-repeat; }
.asp-ok { background-image: url(ico/ok.gif) !important; background-repeat: no-repeat; }
.asp-ordered_list { background-image: url(ico/ordered_list.gif) !important; background-repeat: no-repeat; }
.asp-paste { background-image: url(ico/paste.gif) !important; background-repeat: no-repeat; }
.asp-pause { background-image: url(ico/pause.gif) !important; background-repeat: no-repeat; }
.asp-pay { background-image: url(ico/pay.gif) !important; background-repeat: no-repeat; }
.asp-pay_add { background-image: url(ico/pay_add.gif) !important; background-repeat: no-repeat; }
.asp-pay_delete { background-image: url(ico/pay_delete.gif) !important; background-repeat: no-repeat; }
.asp-pay_edit { background-image: url(ico/pay_edit.gif) !important; background-repeat: no-repeat; }
.asp-photo { background-image: url(ico/photo.gif) !important; background-repeat: no-repeat; }
.asp-photo_add { background-image: url(ico/photo_add.gif) !important; background-repeat: no-repeat; }
.asp-photo_delete { background-image: url(ico/photo_delete.gif) !important; background-repeat: no-repeat; }
.asp-photo_edit { background-image: url(ico/photo_edit.gif) !important; background-repeat: no-repeat; }
.asp-play { background-image: url(ico/play.gif) !important; background-repeat: no-repeat; }
.asp-preview { background-image: url(ico/preview.gif) !important; background-repeat: no-repeat; }
.asp-print { background-image: url(ico/print.gif) !important; background-repeat: no-repeat; }
.asp-record { background-image: url(ico/record.gif) !important; background-repeat: no-repeat; }
.asp-record_add { background-image: url(ico/record_add.gif) !important; background-repeat: no-repeat; }
.asp-record_copy { background-image: url(ico/record_copy.gif) !important; background-repeat: no-repeat; }
.asp-record_delete { background-image: url(ico/record_delete.gif) !important; background-repeat: no-repeat; }
.asp-record_edit { background-image: url(ico/record_edit.gif) !important; background-repeat: no-repeat; }
.asp-redo1 { background-image: url(ico/redo1.gif) !important; background-repeat: no-repeat; }
.asp-redo2 { background-image: url(ico/redo2.gif) !important; background-repeat: no-repeat; }
.asp-refresh { background-image: url(ico/refresh.gif) !important; background-repeat: no-repeat; }
.asp-registration1 { background-image: url(ico/registration1.gif) !important; background-repeat: no-repeat; }
.asp-registration1_add { background-image: url(ico/registration1_add.gif) !important; background-repeat: no-repeat; }
.asp-registration1_delete { background-image: url(ico/registration1_delete.gif) !important; background-repeat: no-repeat; }
.asp-registration1_edit { background-image: url(ico/registration1_edit.gif) !important; background-repeat: no-repeat; }
.asp-registration2 { background-image: url(ico/registration2.gif) !important; background-repeat: no-repeat; }
.asp-registration2_add { background-image: url(ico/registration2_add.gif) !important; background-repeat: no-repeat; }
.asp-registration2_delete { background-image: url(ico/registration2_delete.gif) !important; background-repeat: no-repeat; }
.asp-registration2_edit { background-image: url(ico/registration2_edit.gif) !important; background-repeat: no-repeat; }
.asp-relationships { background-image: url(ico/relationships.gif) !important; background-repeat: no-repeat; }
.asp-report1 { background-image: url(ico/report1.gif) !important; background-repeat: no-repeat; }
.asp-report1_add { background-image: url(ico/report1_add.gif) !important; background-repeat: no-repeat; }
.asp-report1_delete { background-image: url(ico/report1_delete.gif) !important; background-repeat: no-repeat; }
.asp-report2 { background-image: url(ico/report2.gif) !important; background-repeat: no-repeat; }
.asp-report2_add { background-image: url(ico/report2_add.gif) !important; background-repeat: no-repeat; }
.asp-report2_delete { background-image: url(ico/report2_delete.gif) !important; background-repeat: no-repeat; }
.asp-report3 { background-image: url(ico/report3.gif) !important; background-repeat: no-repeat; }
.asp-report3_add { background-image: url(ico/report3_add.gif) !important; background-repeat: no-repeat; }
.asp-report3_delete { background-image: url(ico/report3_delete.gif) !important; background-repeat: no-repeat; }
.asp-research { background-image: url(ico/research.gif) !important; background-repeat: no-repeat; }
.asp-restore { background-image: url(ico/restore.gif) !important; background-repeat: no-repeat; }
.asp-reverse { background-image: url(ico/reverse.gif) !important; background-repeat: no-repeat; }
.asp-right { background-image: url(ico/right.gif) !important; background-repeat: no-repeat; }
.asp-save { background-image: url(ico/save.gif) !important; background-repeat: no-repeat; }
.asp-script { background-image: url(ico/script.gif) !important; background-repeat: no-repeat; }
.asp-script_add { background-image: url(ico/script_add.gif) !important; background-repeat: no-repeat; }
.asp-script_delete { background-image: url(ico/script_delete.gif) !important; background-repeat: no-repeat; }
.asp-script_edit { background-image: url(ico/script_edit.gif) !important; background-repeat: no-repeat; }
.asp-script_start { background-image: url(ico/script_start.gif) !important; background-repeat: no-repeat; }
.asp-script_stop { background-image: url(ico/script_stop.gif) !important; background-repeat: no-repeat; }
.asp-search { background-image: url(ico/search.gif) !important; background-repeat: no-repeat; }
.asp-search_again { background-image: url(ico/search_again.gif) !important; background-repeat: no-repeat; }
.asp-security { background-image: url(ico/security.gif) !important; background-repeat: no-repeat; }
.asp-security_add { background-image: url(ico/security_add.gif) !important; background-repeat: no-repeat; }
.asp-security_delete { background-image: url(ico/security_delete.gif) !important; background-repeat: no-repeat; }
.asp-security_edit { background-image: url(ico/security_edit.gif) !important; background-repeat: no-repeat; }
.asp-select_all { background-image: url(ico/select_all.gif) !important; background-repeat: no-repeat; }
.asp-server1 { background-image: url(ico/server1.gif) !important; background-repeat: no-repeat; }
.asp-server1_add { background-image: url(ico/server1_add.gif) !important; background-repeat: no-repeat; }
.asp-server1_delete { background-image: url(ico/server1_delete.gif) !important; background-repeat: no-repeat; }
.asp-server1_edit { background-image: url(ico/server1_edit.gif) !important; background-repeat: no-repeat; }
.asp-server1_start { background-image: url(ico/server1_start.gif) !important; background-repeat: no-repeat; }
.asp-server1_stop { background-image: url(ico/server1_stop.gif) !important; background-repeat: no-repeat; }
.asp-server2 { background-image: url(ico/server2.gif) !important; background-repeat: no-repeat; }
.asp-server2_add { background-image: url(ico/server2_add.gif) !important; background-repeat: no-repeat; }
.asp-server2_delete { background-image: url(ico/server2_delete.gif) !important; background-repeat: no-repeat; }
.asp-server2_edit { background-image: url(ico/server2_edit.gif) !important; background-repeat: no-repeat; }
.asp-server2_start { background-image: url(ico/server2_start.gif) !important; background-repeat: no-repeat; }
.asp-server2_stop { background-image: url(ico/server2_stop.gif) !important; background-repeat: no-repeat; }
.asp-servers { background-image: url(ico/servers.gif) !important; background-repeat: no-repeat; }
.asp-settings1 { background-image: url(ico/settings1.gif) !important; background-repeat: no-repeat; }
.asp-settings2 { background-image: url(ico/settings2.gif) !important; background-repeat: no-repeat; }
.asp-shopping_cart { background-image: url(ico/shopping_cart.gif) !important; background-repeat: no-repeat; }
.asp-shopping_cart_add { background-image: url(ico/shopping_cart_add.gif) !important; background-repeat: no-repeat; }
.asp-shopping_cart_delete { background-image: url(ico/shopping_cart_delete.gif) !important; background-repeat: no-repeat; }
.asp-shopping_cart_edit { background-image: url(ico/shopping_cart_edit.gif) !important; background-repeat: no-repeat; }
.asp-sitemap { background-image: url(ico/sitemap.gif) !important; background-repeat: no-repeat; }
.asp-skip_backward { background-image: url(ico/skip_backward.gif) !important; background-repeat: no-repeat; }
.asp-skip_forward { background-image: url(ico/skip_forward.gif) !important; background-repeat: no-repeat; }
.asp-sort_by_date { background-image: url(ico/sort_by_date.gif) !important; background-repeat: no-repeat; }
.asp-sort_by_name { background-image: url(ico/sort_by_name.gif) !important; background-repeat: no-repeat; }
.asp-sort_by_quantity { background-image: url(ico/sort_by_quantity.gif) !important; background-repeat: no-repeat; }
.asp-sound { background-image: url(ico/sound.gif) !important; background-repeat: no-repeat; }
.asp-sound_delete { background-image: url(ico/sound_delete.gif) !important; background-repeat: no-repeat; }
.asp-sound_play { background-image: url(ico/sound_play.gif) !important; background-repeat: no-repeat; }
.asp-sound_stop { background-image: url(ico/sound_stop.gif) !important; background-repeat: no-repeat; }
.asp-stop { background-image: url(ico/stop.gif) !important; background-repeat: no-repeat; }
.asp-strike { background-image: url(ico/strike.gif) !important; background-repeat: no-repeat; }
.asp-support1 { background-image: url(ico/support1.gif) !important; background-repeat: no-repeat; }
.asp-support1_add { background-image: url(ico/support1_add.gif) !important; background-repeat: no-repeat; }
.asp-support1_delete { background-image: url(ico/support1_delete.gif) !important; background-repeat: no-repeat; }
.asp-support1_edit { background-image: url(ico/support1_edit.gif) !important; background-repeat: no-repeat; }
.asp-support2 { background-image: url(ico/support2.gif) !important; background-repeat: no-repeat; }
.asp-support2_add { background-image: url(ico/support2_add.gif) !important; background-repeat: no-repeat; }
.asp-support2_delete { background-image: url(ico/support2_delete.gif) !important; background-repeat: no-repeat; }
.asp-support2_edit { background-image: url(ico/support2_edit.gif) !important; background-repeat: no-repeat; }
.asp-table { background-image: url(ico/table.gif) !important; background-repeat: no-repeat; }
.asp-table_add { background-image: url(ico/table_add.gif) !important; background-repeat: no-repeat; }
.asp-table_align_columns { background-image: url(ico/table_align_columns.gif) !important; background-repeat: no-repeat; }
.asp-table_align_rows { background-image: url(ico/table_align_rows.gif) !important; background-repeat: no-repeat; }
.asp-table_auto_format { background-image: url(ico/table_auto_format.gif) !important; background-repeat: no-repeat; }
.asp-table_borders { background-image: url(ico/table_borders.gif) !important; background-repeat: no-repeat; }
.asp-table_cell_alignment { background-image: url(ico/table_cell_alignment.gif) !important; background-repeat: no-repeat; }
.asp-table_delete { background-image: url(ico/table_delete.gif) !important; background-repeat: no-repeat; }
.asp-table_edit { background-image: url(ico/table_edit.gif) !important; background-repeat: no-repeat; }
.asp-table_merge_cells { background-image: url(ico/table_merge_cells.gif) !important; background-repeat: no-repeat; }
.asp-table_split_cells { background-image: url(ico/table_split_cells.gif) !important; background-repeat: no-repeat; }
.asp-text_align_center { background-image: url(ico/text_align_center.gif) !important; background-repeat: no-repeat; }
.asp-text_align_left { background-image: url(ico/text_align_left.gif) !important; background-repeat: no-repeat; }
.asp-text_align_right { background-image: url(ico/text_align_right.gif) !important; background-repeat: no-repeat; }
.asp-text_indent { background-image: url(ico/text_indent.gif) !important; background-repeat: no-repeat; }
.asp-text_justify { background-image: url(ico/text_justify.gif) !important; background-repeat: no-repeat; }
.asp-text_outdent { background-image: url(ico/text_outdent.gif) !important; background-repeat: no-repeat; }
.asp-tile_windows_horizontally { background-image: url(ico/tile_windows_horizontally.gif) !important; background-repeat: no-repeat; }
.asp-tile_windows_vertically { background-image: url(ico/tile_windows_vertically.gif) !important; background-repeat: no-repeat; }
.asp-time { background-image: url(ico/time.gif) !important; background-repeat: no-repeat; }
.asp-trash { background-image: url(ico/trash.gif) !important; background-repeat: no-repeat; }
.asp-trash_add { background-image: url(ico/trash_add.gif) !important; background-repeat: no-repeat; }
.asp-trash_delete { background-image: url(ico/trash_delete.gif) !important; background-repeat: no-repeat; }
.asp-trash_edit { background-image: url(ico/trash_edit.gif) !important; background-repeat: no-repeat; }
.asp-turn-off { background-image: url(ico/turn-off.gif) !important; background-repeat: no-repeat; }
.asp-turn-on { background-image: url(ico/turn-on.gif) !important; background-repeat: no-repeat; }
.asp-underline { background-image: url(ico/underline.gif) !important; background-repeat: no-repeat; }
.asp-undo1 { background-image: url(ico/undo1.gif) !important; background-repeat: no-repeat; }
.asp-undo2 { background-image: url(ico/undo2.gif) !important; background-repeat: no-repeat; }
.asp-unlock { background-image: url(ico/unlock.gif) !important; background-repeat: no-repeat; }
.asp-unordered_list { background-image: url(ico/unordered_list.gif) !important; background-repeat: no-repeat; }
.asp-up { background-image: url(ico/up.gif) !important; background-repeat: no-repeat; }
.asp-user1 { background-image: url(ico/user1.gif) !important; background-repeat: no-repeat; }
.asp-user1_add { background-image: url(ico/user1_add.gif) !important; background-repeat: no-repeat; }
.asp-user1_delete { background-image: url(ico/user1_delete.gif) !important; background-repeat: no-repeat; }
.asp-user1_edit { background-image: url(ico/user1_edit.gif) !important; background-repeat: no-repeat; }
.asp-user2 { background-image: url(ico/user2.gif) !important; background-repeat: no-repeat; }
.asp-user2_add { background-image: url(ico/user2_add.gif) !important; background-repeat: no-repeat; }
.asp-user2_delete { background-image: url(ico/user2_delete.gif) !important; background-repeat: no-repeat; }
.asp-user2_edit { background-image: url(ico/user2_edit.gif) !important; background-repeat: no-repeat; }
.asp-user3 { background-image: url(ico/user3.gif) !important; background-repeat: no-repeat; }
.asp-user3_add { background-image: url(ico/user3_add.gif) !important; background-repeat: no-repeat; }
.asp-user3_delete { background-image: url(ico/user3_delete.gif) !important; background-repeat: no-repeat; }
.asp-user3_edit { background-image: url(ico/user3_edit.gif) !important; background-repeat: no-repeat; }
.asp-user4 { background-image: url(ico/user4.gif) !important; background-repeat: no-repeat; }
.asp-user4_add { background-image: url(ico/user4_add.gif) !important; background-repeat: no-repeat; }
.asp-user4_delete { background-image: url(ico/user4_delete.gif) !important; background-repeat: no-repeat; }
.asp-user4_edit { background-image: url(ico/user4_edit.gif) !important; background-repeat: no-repeat; }
.asp-user5 { background-image: url(ico/user5.gif) !important; background-repeat: no-repeat; }
.asp-user5_add { background-image: url(ico/user5_add.gif) !important; background-repeat: no-repeat; }
.asp-user5_delete { background-image: url(ico/user5_delete.gif) !important; background-repeat: no-repeat; }
.asp-user5_edit { background-image: url(ico/user5_edit.gif) !important; background-repeat: no-repeat; }
.asp-user6 { background-image: url(ico/user6.gif) !important; background-repeat: no-repeat; }
.asp-user6_add { background-image: url(ico/user6_add.gif) !important; background-repeat: no-repeat; }
.asp-user6_delete { background-image: url(ico/user6_delete.gif) !important; background-repeat: no-repeat; }
.asp-user6_edit { background-image: url(ico/user6_edit.gif) !important; background-repeat: no-repeat; }
.asp-user7 { background-image: url(ico/user7.gif) !important; background-repeat: no-repeat; }
.asp-user7_add { background-image: url(ico/user7_add.gif) !important; background-repeat: no-repeat; }
.asp-user7_delete { background-image: url(ico/user7_delete.gif) !important; background-repeat: no-repeat; }
.asp-user7_edit { background-image: url(ico/user7_edit.gif) !important; background-repeat: no-repeat; }
.asp-user8 { background-image: url(ico/user8.gif) !important; background-repeat: no-repeat; }
.asp-user8_add { background-image: url(ico/user8_add.gif) !important; background-repeat: no-repeat; }
.asp-user8_delete { background-image: url(ico/user8_delete.gif) !important; background-repeat: no-repeat; }
.asp-user8_edit { background-image: url(ico/user8_edit.gif) !important; background-repeat: no-repeat; }
.asp-user9 { background-image: url(ico/user9.gif) !important; background-repeat: no-repeat; }
.asp-user9_add { background-image: url(ico/user9_add.gif) !important; background-repeat: no-repeat; }
.asp-user9_delete { background-image: url(ico/user9_delete.gif) !important; background-repeat: no-repeat; }
.asp-user9_edit { background-image: url(ico/user9_edit.gif) !important; background-repeat: no-repeat; }
.asp-video { background-image: url(ico/video.gif) !important; background-repeat: no-repeat; }
.asp-video_add { background-image: url(ico/video_add.gif) !important; background-repeat: no-repeat; }
.asp-video_delete { background-image: url(ico/video_delete.gif) !important; background-repeat: no-repeat; }
.asp-video_edit { background-image: url(ico/video_edit.gif) !important; background-repeat: no-repeat; }
.asp-video_play { background-image: url(ico/video_play.gif) !important; background-repeat: no-repeat; }
.asp-video_stop { background-image: url(ico/video_stop.gif) !important; background-repeat: no-repeat; }
.asp-view { background-image: url(ico/view.gif) !important; background-repeat: no-repeat; }
.asp-wait { background-image: url(ico/wait.gif) !important; background-repeat: no-repeat; }
.asp-web-server { background-image: url(ico/web-server.gif) !important; background-repeat: no-repeat; }
.asp-web-server_add { background-image: url(ico/web-server_add.gif) !important; background-repeat: no-repeat; }
.asp-web-server_delete { background-image: url(ico/web-server_delete.gif) !important; background-repeat: no-repeat; }
.asp-web-server_edit { background-image: url(ico/web-server_edit.gif) !important; background-repeat: no-repeat; }
.asp-web-server_start { background-image: url(ico/web-server_start.gif) !important; background-repeat: no-repeat; }
.asp-web-server_stop { background-image: url(ico/web-server_stop.gif) !important; background-repeat: no-repeat; }
.asp-web { background-image: url(ico/web.gif) !important; background-repeat: no-repeat; }
.asp-web_add { background-image: url(ico/web_add.gif) !important; background-repeat: no-repeat; }
.asp-web_delete { background-image: url(ico/web_delete.gif) !important; background-repeat: no-repeat; }
.asp-web_edit { background-image: url(ico/web_edit.gif) !important; background-repeat: no-repeat; }
.asp-wizard { background-image: url(ico/wizard.gif) !important; background-repeat: no-repeat; }
.asp-zoom { background-image: url(ico/zoom.gif) !important; background-repeat: no-repeat; }
.asp-zoom_in { background-image: url(ico/zoom_in.gif) !important; background-repeat: no-repeat; }
.asp-zoom_out { background-image: url(ico/zoom_out.gif) !important; background-repeat: no-repeat; }
